#searchbox{
    background-color: white;
    margin-top: 5px;
}

#searchbox-div-button{
    margin-left: 60vw;
    border: 1px solid black;
    border-radius: 15px;
    text-align:center;
    width: 30vw;
}

.search-div{
    margin-bottom: 10px;
}

.search-label{
    font-weight: 700;
}

#price-search-div{
    display: flex;
}

.card-listing:hover{
    background-color: rgba(245, 240, 240, 0.61);
}

.card-image{
    padding: 20px;
}

.card-body{
    padding: 0px 16px 16px 16px !important;
}

.card-title{
    font-weight: bold;
}

#modal-image{
    border-radius: 30px;
    width: 100%;
    height: auto;
}

#cost-span, #pieces-span, .specification-heading{
    font-weight: bold;
}

.specification-subheading{
    font-weight: bold;
}

#addItemFlashMessage{
    background-color: grey;
    color: white;
    z-index: 999;
    position: fixed;
    bottom: 0px;
    right: 10px;
}