#display-listings > h1 {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    margin-top: 10px;
}

#listings{
    background-color: white;
    margin-top: 5px;
}

#searchbox-div-button{
    margin-left: 55vw;
    border: 1px solid black;
    border-radius: 15px;
    text-align:center;
    width: 30vw;
    font-size: 1em;
}

.search-div{
    margin-bottom: 10px;
}

.search-label{
    font-weight: 700;
}

#price-search-div{
    display: flex;
}

#price-search-div-1{
    margin-right: 10px;
}

#searchButton, #resetSearchButton{
    margin-left: 5vw;
    font-size: 1em;
    width: 30vw;
}

.card-listing:hover{
    background-color: rgba(245, 240, 240, 0.61);
}

.card-image{
    padding: 20px;
}

.card-body{
    padding: 0px 16px 16px 16px !important;
}

.card-title{
    font-weight: bold;
}

#modal-image{
    border-radius: 30px;
    width: 100%;
    height: auto;
}

#cost-span, #pieces-span, .specification-heading{
    font-weight: bold;
}

.specification-subheading{
    font-weight: bold;
}

#addItemFlashMessage{
    background-color: grey;
    color: white;
    z-index: 999;
    position: fixed;
    bottom: 0px;
    right: 10px;
}

@media screen and (min-width: 768px){
    #searchButton{
        margin-left: 1vw;
    }
}

@media screen and (min-width: 992px){
    #searchbox-div-button{
        margin-left: 65vw;
        width: 20vw;
        font-size: 1.5em;
    }

    #searchButton, #resetSearchButton{
        font-size: 1.5em;
        width: 10vw;
    }
}
  