@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Lato&family=Playfair+Display&display=swap');

body {
  background-image: url("./images/background.jpg");
  background-size: cover;
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

hr {
  margin: 0.5rem 0;
}
#expand-nav {
  display: none;
}

.nav-item{
  font-family: 'Playfair Display', serif;
  color: #001524 !important;
  text-decoration: none !important;
}

.navbar-brand, .offcanvas-title, #navbar-expand-logo{
  width: 60vw;
  height: 50px;
  background-image: url("./images/logo.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position:left;
}

.offcanvas{
  transform: none !important;
  visibility: visible !important;
}

.link-style{
  text-decoration: none;
  color:inherit;
}

@media screen and (min-width: 576px){

  #collapsed-navbar{
      display: none;
  }

  #navbar-expand-logo{
    width: 25vw;
  }

  #expand-nav{
      background-color: white;
      width: 100vw;
      display: block;
  }
}

@media screen and (min-width: 768px){
  #navbar-expand-logo{
      width: 45vw;
  }
}

@media screen and (min-width: 992px){
  #navbar-expand-logo{
      width: 55vw;
  }
}

@media screen and (min-width: 1200px){
  #navbar-expand-logo{
      width: 65vw;
  }
}

@media screen and (min-width: 1920px){
  #navbar-expand-logo{
      width: 80vw;
      align-self: flex-start;
  }
}